<div id='main-nav-bg'></div>
<nav id='main-nav'>
  <div class='navigation'>
    <div class='search'>
      <form action='search_results.html' method='get'>
        <div class='search-wrapper'>
          <input value="" class="search-query form-control" placeholder="搜素..." autocomplete="off" name="q" type="text" />
          <button class='btn btn-link icon-search' name='button' type='submit'></button>
        </div>
      </form>
    </div>
    <ul class='nav nav-stacked'>
      <li class=''>
        <%= link_to page_path('dashboard') do %>
          <i class='icon-dashboard'></i>
          <span>控制面板</span>
        <% end %>
      </li>
      <%=yield :left_menu %>
      <li class=''>
        <a href='buttons_and_icons.html'>
          <i class='icon-star'></i>
          <span>素材管理</span>
        </a>
      </li>

      <li>
        <a class='dropdown-collapse' href='#'>
          <i class='icon-folder-open-alt'></i>
          <span>素材资源</span>
          <i class='icon-angle-down angle-down'></i>
        </a>
        <ul class='nav nav-stacked'>
          <li>
            <%= link_to pictures_path do %>
              <i class='icon-caret-right'></i><span>图片管理</span>
            <% end %>
          </li>
          <li>
            <%= link_to resources_path do %>
              <i class='icon-caret-right'></i><span>音视频管理</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <a class='dropdown-collapse' href='#'>
          <i class='icon-folder-open-alt'></i>
          <span>最近创建应用</span>
          <i class='icon-angle-down angle-down'></i>
        </a>
        <ul class='nav nav-stacked'>
          <% current_user.sites.order("updated_at DESC").each do |site| %>
            <li>
              <%= link_to site do %>
                <i class='icon-caret-right'></i><span><%= site.title %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>