<%= simple_form_for(@resource, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :typo, collection: Resource::TYPO, include_blank: false, selected: params[:typo] %>
    <%= f.input :name %>
    <%= f.file_field :asset %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
