<% title "资源列表" %>
<% page_header "资源管理" %>

<div class='group-header group-header-first'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <audio id="car_audio" controls preload="preload" autoplay="true">
          <source src="<%= @resource.asset.url %>" type="audio/mpeg">
          您的浏览器不支持HTML5音频格式
        </audio>
        <p>
          <%= @resource.name %>
        </p>
        <p>
          <%= @resource.asset.url %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to '替换', edit_resource_path(@resource), class: 'btn btn-lg btn-primary' %> |
<%= link_to '返回', resources_path, class: 'btn btn-lg btn-default' %>
