<%= simple_form_for(@picture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :gallery %>
    <%= f.input :name %>
    <%= f.input :key %>
  </div>

  <% if @picture.new_record? %>
    <div id="pictures"></div>
    <%= link_to "+ 点击这里添加图片", meitu_load_pictures_path(gallery_id: @gallery.try(:id)), class: 'btn btn-active', 'data-toggle' => 'modal', 'data-target' =>'#meituModal', :remote => true  %>
  <% else %>
    <div id="pictures">
      <table class="picture" id="picture_<%= @picture.id %>">
        <tr>
          <td width="50%">
            <%=qiniu_image_tag @picture.asset.url, :thumbnail=>'180x180>', :quality => 80, class: 'img-responsive' %>
          </td>
          <td>
            <%=link_to "删除", @picture, data: { confirm: '确定要删除吗?' }, :method=>:delete, :remote => true, class: "btn btn-danger btn-xs"%>
            <% unless mobile_device? %>
              <%=link_to "美化", meitu_load_pictures_path(id: @picture.id, editor_type: 1), class: 'btn btn-warning btn-xs', 'data-toggle'=>'modal', 'data-target' =>'#meituModal', :remote => true %>
              <%=link_to "拼图", meitu_load_pictures_path(id: @picture.id, editor_type: 2), class: 'btn btn-warning btn-xs', 'data-toggle'=>'modal', 'data-target' =>'#meituModal', :remote => true %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<!-- meituModal start-->
<div id="meituModal" class="modal fade">
  <div class="modal-dialog" style="width: 50%; min-width: 500px; margin: 0 auto;">
    <div class="modal-content">
      <div class="modal-body meitu-body"  style="height: 500px; padding-top: 0px;">
       <p class="text-center"><i class="fa fa-spinner fa-spin"></i> 正在加载...</p>
      </div><!-- End modal-body -->
    </div><!-- End modal-content -->
  </div><!-- End modal-dialog -->
</div>
<!-- meituModal end-->
