<p>
  <strong>所属图片夹:</strong>
  <%= link_to @picture.gallery.name, gallery_path(@picture.gallery) %>
  <strong>名称:</strong>
  <%= @picture.name %>
</p>

<p>
 <%= image_tag qiniu_image_path(@picture.asset.url) %>
</p>

<p>
  <%= @picture.asset.url %>
</p>

<%= link_to '编辑', edit_picture_path(@picture), class: "btn btn-primary btn-lg" %> |
<%=link_to "删除", @picture, data: { confirm: '确定要删除吗?' }, :method=>:delete,class: "btn btn-danger btn-lg"%>
<%= link_to '返回', pictures_path, class: "btn btn-default btn-lg" %>
