<h1>应用列表</h1>
<div class='row'>
  <% @sites.each do |site| %>
  <div class='col-sm-4'>
    <div class='box box-nomargin'>
      <div class='box-header box-header-small red-background'>
        <div class='title'>
          <i class='icon-resize-vertical'></i>
          <%= site.title %>
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content box-padding'>
        <%= site.description %>
      </div>
      <div>
        <%= link_to '详情', site_path(site), class: 'btn btn-sm btn-info' %>
        <%= link_to '修改', edit_site_path(site) %>
        <%= link_to '删除', site, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<hr class='hr-double'>
<%= link_to '新建应用', new_site_path, class: 'btn btn-lg btn-primary' %>
